<style>

/* Customer List Table Style */
.datagrid table { border-collapse: collapse; text-align: left; width: 100%; }
.datagrid {background: #fff; overflow: hidden; border: 1px solid #00527A; -webkit-border-radius: 5px; -moz-border-radius: 5px; border-radius: 5px; }
.datagrid table td, .datagrid table th { padding: 6px 6px; }
.datagrid table thead th {background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #006699), color-stop(1, #00557F) );background:-moz-linear-gradient( center top, #006699 5%, #00557F 100% );filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#006699', endColorstr='#00557F');background-color:#006699; color:#FFFFFF; font-weight: bold; border-left: 1px solid #0070A8; }
.datagrid table thead th:first-child { border: none; }
.datagrid table tbody td { color: #00496B; border-left: 1px solid #E1EEF4; font-weight: normal; }
.datagrid table tbody tr:nth-child(even) { background: #E1EEF4; color: #00496B; }
.datagrid table tbody td:first-child { border-left: none; }
.datagrid table tbody tr:last-child td { border-bottom: none; }

.highlight { border-bottom: 15px solid; border-color: #00527A; }

#twoYear, #fiveYear{
    margin-top: 10px;
}


#btnDeleteCustomer {
    float: right;
}

.customerMainInfo {
    display: table-row-group;
}

#myInput {
    margin-left: 10px;
}

#customerListContent {
    counter-reset: rowNumber-1;
}

.buttonGroup {
	margin-bottom: 10px;
}

#customerListContent th:nth-child(1) {
    width: 12%;
}

#customerListContent th:nth-child(2) {
}

#customerListContent th:nth-child(3) {

}

#customerListContent th:nth-child(4), #customerListContent th:nth-child(5) {
	width: 18%;
}

#noticeContent th:nth-child(1) {
	width: 14%;
}

#noticeContent th:nth-child(2), #noticeContent th:nth-child(3) {
	width: 23%;
}

#customerCount {
    display: inline;
}

.background {
    display: table;
    width: 100%;
    background-color: #00527A;
}

.datagrid {
	padding: 10px;
}

.datagrid > table {
	width: 100%;
}

@font-face {
  font-family: bmhanna;
  src: url(../font/BMHANNA.ttf);
}

@font-face {
  font-family: bmdohyeon;
  src: url(../font/BMDOHYEON.ttf);
}

body {
    font-size: 12px;
    font-family: bmhanna;
}

@media screen and (min-width: 300px) {
	body {
        font-size: 7px;
	}

    .background {
        background-color: #006a9e;
    }

    #myInput {
        margin-left: 0px;
        margin-top: 10px;
    }

    #customerListContent th:nth-child(4), #customerListContent th:nth-child(5) {
        width: 21%;
    }

    #customerListContent tr {
    }

    #customerListContent tr td:first-child::before {
        content: "";
    }
}

@media screen and (min-width: 600px) {
    body {
        font-size: 11px;
    }

    .background {
        background-color: #004668;
    }

    #myInput {
        margin-left: 10px;
    }

    #customerListContent th:nth-child(4), #customerListContent th:nth-child(5) {
        width: 18%;
    }

    #customerListContent tr {
    }

    #customerListContent tr td:first-child::before {
        content: "";
    }
}

@media screen and (min-width: 800px) {
    body {
        font-size: 12px;
    }

    .background {
        background-color: #002f47;
    }

    #myInput {
        margin-left: 10px;
    }

    #customerListContent th:nth-child(4), #customerListContent th:nth-child(5) {
        width: 18%;
    }

    #customerListContent tr {
        counter-increment: rowNumber;
    }

    #customerListContent tr td:first-child::before {
        content: counter(rowNumber);
        margin-right: 0.5em;
    }
}

/* Loading Spinner */
#loader {
    display: table;
}

#loader * {
    display: table-cell;
    vertical-align: middle;
    padding-left: 10px;
}
#spinner {
  border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-top: 16px solid #3498db;
  width: 120px;
  height: 120px;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
}

@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

/* Modal Dialog */
.table-borderless tbody tr td,
.table-borderless tbody tr th,
.table-borderless thead tr th,
.table-borderless thead tr td,
.table-borderless tfoot tr th,
.table-borderless tfoot tr td {
    border: none;
}

.modal-title {
    float: left;
}

#btnCancelNewCustomer {
    float: right;
}
</style>